name: auto-update
on: workflow_dispatch

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - id: update_check
      name: Check update
      continue-on-error: true
      run: |
        python check_update.py
    - name: Setup Java
      uses: actions/setup-java@v1
      if: ${{ steps.update_check.outcome == 'success' }}
      with:
        java-version: 1.8
    - name: Download update
      if: ${{ steps.update_check.outcome == 'success' }}
      run: |
        ./gradlew dumpSources
    - name: Commit
      if: ${{ steps.update_check.outcome == 'success' }}
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Add sources for ${{ steps.update_check.outputs.version }}
